

.board {
    /*width: 100%;*/
    /* height: 100%;*/
    /*background-color:#AAA;*/
    position: absolute;
    transform-style: preserve-3d;
}

.board-background {
    background-color:rgba(200,255, 255, 0.8);
    box-shadow: 30px 30px 30px rgba(0,0,0, 0.7);
}


